.main-wrapper {
    margin: 0.25em;
    .sub-wrapper {
        background-color: var(--washme-dark-blue);
        border-radius: 1em;

        .orders-wrapper {
            text-align: center;
            padding: 1.2em;
            .heading {
                font-size: 1.7rem;
                font-weight: bold;
                color: white;
            }
        }

        .order {
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: space-between;
            padding: 0.5em;
            margin: 0 1.5em 1.5em 1.5em;
            border-radius: 1em;
            flex-direction: column;

            .divider {
                margin-top: 0.1em;
                margin-bottom: 0.1em;
                height: 1px !important;
                width: 100% !important;
                background: var(--washme-ash) !important;
                display: block !important;
                font-size: 2em !important;
                opacity: 0.5 !important;
                visibility: visible !important;
            }

            .title {
                font-weight: bold;
                color: rgb(0, 0, 0);
            }

            .right {
                text-align: right;
            }
            .btn {
                --background: var(--washme-dark-blue-2);
                color: white;
                --border-radius: 1em;
                text-transform: none;
                margin-top: 2em;
            }

            .order-item-wrapper {
                margin: 1.5em 0 1.5em 0;
                .order-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.5em;
                    align-items: center;
                    margin-bottom: -5px;
                    .img-wrapper {
                        .img-item {
                            width: 1.7em;
                            height: 1.7em;
                            border-radius: 50%;
                            background-repeat: no-repeat !important;
                            background-size: cover !important;
                            background-position: right !important;
                        }
                    }

                    .item-name {
                        width: 35%;
                    }

                    .increase-qty {
                        display: flex;
                        justify-content: center;
                        width: 10%;
                        ion-button {
                            border-radius: 50%;
                            border: 1px solid var(--ion-color-dark-tint);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 1.5em;
                            width: 1.5em;
                            border-radius: 50%;
                        }
                    }

                    .item-qty-wrapper {
                        display: flex;
                        justify-content: center;
                        width: 15%;

                        .item-qty {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #c5d54b;
                            width: 1.7em;
                            height: 1.7em;
                            border-radius: 50%;
                        }
                    }

                    .amount-wrapper {
                        width: 20%;
                        text-align: right;
                    }

                    .total-title {
                        width: 60%;
                        margin-left: 10px;
                    }

                    .total-amount {
                        width: 40%;
                        text-align: right;
                    }
                }
            }
        }
    }
}
