<app-app-header></app-app-header>

<ion-content [fullscreen]="true">
  <section>
    <div class="cart-heading">
      <ion-label>My Reviews</ion-label>
    </div>
  </section>

  <section class="wrapper ion-margin">
    <ion-card class="single-item">
      <ion-card-content>
        <table class="sub-item">
          <tr>
            <td rowspan="2">
              <ion-avatar>
                <img src="../../assets/item-category/SareeSmall.jpg" />
              </ion-avatar>
            </td>
            <td>
              0114
            </td>
            <td style="text-align: right;">
              03 Sep 2021
            </td>
          </tr>
          <tr>
            <td colspan="2">

              Blouse Hole
              <br>
              Color Burn
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="btn-section">
                <ion-button expand="block" shape="round" class="confirm-btn btn">
                  Confirm
                </ion-button>

                <ion-button expand="block" shape="round" class="reject-btn btn">
                  Reject
                </ion-button>
              </div>

            </td>


          </tr>
        </table>
        <table class="sub-item">
          <tr>
            <td rowspan="2">
              <ion-avatar>
                <img src="../../assets/item-category/BlouseSmall.jpg" />
              </ion-avatar>
            </td>
            <td>
              0114
            </td>
            <td style="text-align: right;">
              03 Sep 2021
            </td>
          </tr>
          <tr>
            <td colspan="2">

              Saree Small Cut
              <br>
              Color Burn
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="btn-section" style="display: flex; justify-content: space-between;">
                <ion-button expand="block" shape="round" class="confirm-btn btn">
                  Confirm
                </ion-button>

                <ion-button expand="block" shape="round" class="reject-btn btn">
                  Reject
                </ion-button>
              </div>

            </td>


          </tr>
        </table>

      </ion-card-content>
    </ion-card>
    <ion-card class="single-item">
      <ion-card-content>
        <!-- <ion-grid fixed>
          <ion-row class="single-sub-item">
            <ion-col col-4>1</ion-col>
            <ion-col col-3>1</ion-col>
            <ion-col col-5 style="text-align: right;">1</ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="12"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" fill="clear" shape="round">
                Confirm
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" fill="clear" shape="round">
                Reject
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid> -->
        <table class="sub-item">
          <tr>
            <td rowspan="2">
              <ion-avatar>
                <img src="../../assets/item-category/SareeSmall.jpg" />
              </ion-avatar>
            </td>
            <td>
              0114
            </td>
            <td style="text-align: right;">
              03 Sep 2021
            </td>
          </tr>
          <tr>
            <td colspan="2">

              Blouse Hole
              <br>
              Color Burn
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="btn-section">
                <ion-button expand="block" shape="round" class="confirm-btn btn">
                  Confirm
                </ion-button>

                <ion-button expand="block" shape="round" class="reject-btn btn">
                  Reject
                </ion-button>
              </div>

            </td>


          </tr>
        </table>
        <table class="sub-item">
          <tr>
            <td rowspan="2">
              <ion-avatar>
                <img src="../../assets/item-category/BlouseSmall.jpg" />
              </ion-avatar>
            </td>
            <td>
              0114
            </td>
            <td style="text-align: right;">
              03 Sep 2021
            </td>
          </tr>
          <tr>
            <td colspan="2">

              Saree Small Cut
              <br>
              Color Burn
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="btn-section" style="display: flex; justify-content: space-between;">
                <ion-button expand="block" shape="round" class="confirm-btn btn">
                  Confirm
                </ion-button>

                <ion-button expand="block" shape="round" class="reject-btn btn">
                  Reject
                </ion-button>
              </div>

            </td>


          </tr>
        </table>

      </ion-card-content>
    </ion-card>

  </section>






</ion-content>