* {
    font-family: "Raleway" !important;
}

ion-content {
    --ion-background-color: #f5f2ec;

    .main-wrapper {
        margin: 0.25em;
        .sub-wrapper {
            background-color: var(--washme-dark-blue);
            height: 37em;
            border-radius: 1em;
        }
    }
}
