* {
    font-family: "Raleway" !important;
  }
  
  ion-header {
      ion-title {
        font-weight: bolder;
        font-size: 22px;
        color: var(--washme-blue);
      }
      .search-icon {
        color: var(--washme-blue);
      }
    }
  
    .logo {
      margin-left: 10px;
    }
  
    
  
    ion-content{
    --ion-background-color: #f5f2ec;

    .feild-wrapper{
        margin: 2em 2em 1em 2em;  

    .input-feild{
        margin-top: 10px;
        width: 100%;
        background: white;
        border-radius: 1em;
        height: 2.5em;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        ion-input{
          --padding-start:1em;
        }
        // ion-button{
        //   padding: 0;
        //   margin-left:-8px ;
        //   color: rgba($color: #1d1d1d, $alpha: 0.5);
        // }

    }

    .button-wrapper{
      margin-top: 0.8em;

      ion-button{
        height: 2.5em;
        --border-radius: 1em;
        --background:white;
        color: rgba($color: #1d1d1d, $alpha: 0.5);
        text-align: left !important;
        text-transform: none !important;
        font-size: 17px;
        --box-shadow:none;

        span.ion-text-left {
          margin-right: auto;
       } 
      }

    }

    .save-btn-wrapper{
      margin-top: 10px;
      padding: 0 5px;
      text-align: right;
      ion-button{
        --background:var(--washme-blue);
        --border-radius: 1em;
        text-transform: none !important;
       
        
       


        ion-icon{
          margin: 0.2em;
        }

      }
    }
   
   

    .date-time-wrapper{
      margin-top: 0.8em;
      
      width: 100%;
      background: white;
      border-radius: 1em;
      height: 2.5em;
      
      ion-datetime{
        margin-left:-1px ;
        color: rgba($color: #1d1d1d, $alpha: 0.6);
      }

    }
  


    }
    }