* {
  font-family: "Raleway" !important;
}
ion-content {
  .bg-class {
    position: relative;

    justify-content: center;
  }

  .bg-left-rectangle {
    position: fixed;

    background: rgb(108, 210, 255);
    background: linear-gradient(
      0deg,
      rgba(108, 210, 255, 1) 0%,
      rgba(80, 171, 219, 1) 0%,
      rgba(14, 80, 133, 1) 0%,
      rgba(69, 156, 205, 1) 0%,
      rgba(43, 120, 171, 1) 0%,
      rgba(14, 80, 133, 1) 66%,
      rgba(14, 80, 133, 1) 99%,
      rgba(14, 80, 133, 1) 100%
    );

    @media screen and (max-width: 1440px) {
      bottom: -400px;
      left: -290px;
      width: 180%;
      height: 1000px;
      transform: rotate(20deg);
    }
    @media screen and (max-width: 1024px) {
      bottom: -450px;
      left: -240px;
      width: 160%;
      height: 700px;
      transform: rotate(15deg);
    }

    @media screen and (max-width: 768px) {
      bottom: -500px;
      left: -240px;
      width: 160%;
      height: 700px;
      transform: rotate(15deg);
    }
    @media screen and (max-width: 540px) {
      bottom: -550px;
      left: -240px;
      width: 160%;
      height: 700px;
      transform: rotate(15deg);
    }
    @media screen and (max-width: 414px) {
      bottom: -90px;
      left: -130px;
      width: 150%;
      height: 250px;
      transform: rotate(25deg);
    }
    @media screen and (max-width: 411px) {
      bottom: -100px;
      left: -130px;
      width: 150%;
      height: 250px;
      transform: rotate(25deg);
    }

    @media screen and (max-width: 375px) {
      bottom: -110px;
      left: -130px;
      width: 150%;
      height: 250px;
      transform: rotate(25deg);
    }
    @media screen and (max-width: 360px) {
      bottom: -110px;
      left: -130px;
      width: 150%;
      height: 250px;
      transform: rotate(25deg);
    }
    @media screen and (max-width: 320px) {
      bottom: -110px;
      left: -130px;
      width: 150%;
      height: 250px;
      transform: rotate(20deg);
    }
  }

  .bg-right-rectangle {
    z-index: -1;
    background: rgb(34, 188, 255);
    background: linear-gradient(
      79deg,
      rgba(34, 188, 255, 1) 0%,
      rgba(108, 210, 255, 1) 0%,
      rgba(46, 192, 255, 1) 0%,
      rgba(91, 205, 255, 1) 0%,
      rgba(240, 250, 255, 1) 100%
    );
    position: fixed;

    @media screen and (max-width: 1440px) {
      right: -480px;
      top: 1100px;
      width: 190%;
      height: 1900px;
      transform: rotate(338deg);
    }
    @media screen and (max-width: 1024px) {
      right: -350px;
      top: 490px;
      width: 160%;
      height: 1000px;
      transform: rotate(338deg);
    }

    @media screen and (max-width: 768px) {
      right: -350px;
      top: 350px;
      width: 160%;
      height: 1000px;
      transform: rotate(338deg);
    }

    @media screen and (max-width: 540px) {
      right: -350px;
      top: 190px;
      width: 160%;
      height: 1000px;
      transform: rotate(338deg);
    }
    @media screen and (max-width: 414px) {
      right: -160px;
      top: 250px;
      width: 160%;
      height: 600px;
      transform: rotate(335deg);
    }
    @media screen and (max-width: 411px) {
      right: -160px;
      top: 260px;
      width: 160%;
      height: 600px;
      transform: rotate(335deg);
    }
    @media screen and (max-width: 375px) {
      right: -160px;
      top: 240px;
      width: 160%;
      height: 600px;
      transform: rotate(335deg);
    }
    @media screen and (max-width: 360px) {
      right: -160px;
      top: 230px;
      width: 160%;
      height: 600px;
      transform: rotate(335deg);
    }
    @media screen and (max-width: 320px) {
      right: -160px;
      top: 190px;
      width: 160%;
      height: 600px;
      transform: rotate(335deg);
    }
  }

  .logo {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;

    // @media screen and (max-width: 1440px) {
    //   margin-top: -140px;
    // }
    // @media screen and (max-width: 1024px) {
    //   margin-top: -100px;
    // }
    // @media screen and (max-width: 768px) {
    //   margin-top: -50px;
    // }
    // @media screen and (max-width: 540px) {
    //   margin-top: -30px;
    // }
    // @media screen and (max-width: 414px) {
    //   margin-top: -25px;
    // }
    // @media screen and (max-width: 411px) {
    //   margin-top: -20px;
    // }
    // @media screen and (max-width: 375px) {
    //   margin-top: -35px;
    // }
    // @media screen and (max-width: 360px) {
    //   margin-top: -25px;
    // }
    // @media screen and (max-width: 320px) {
    //   margin-top: -20px;
    // }

    img {
      @media screen and (max-width: 1440px) {
        width: 80%;
      }
      @media screen and (max-width: 1024px) {
        width: 60%;
      }
      @media screen and (max-width: 768px) {
        width: 58%;
      }
      @media screen and (max-width: 540px) {
        width: 50%;
      }
      @media screen and (max-width: 414px) {
        width: 69%;
      }
      @media screen and (max-width: 375px) {
        width: 75%;
      }
      @media screen and (max-width: 320px) {
        width: 70%;
      }
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    span {
      color: #f90;
      font-weight: bold;
    }

    p {
      color: white;
    }

    @media screen and (max-width: 1440px) {
      font-size: 55px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 28px;
    }
    @media screen and (max-width: 768px) {
      font-size: 22px;
    }
    @media screen and (max-width: 540px) {
      font-size: 17px;
    }
    @media screen and (max-width: 414px) {
      font-size: 16px;
    }
    @media screen and (max-width: 411px) {
      font-size: 15px;
    }
    @media screen and (max-width: 360px) {
      font-size: 13px;
    }
  }

  .login-form {
    display: block;
    height: 60vh;

    justify-content: center;

    ion-card-title {
      font-size: 27px;
      font-weight: bolder;
      color: #07273b;
      opacity: 0.75;
    }

    form {
      margin: -40px 10px 0px 10px;
    }

    ion-card {
      height: 100%;
      border-radius: 20px;
      box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    }
  }

  .form-felids {
    margin-top: 10px;
    ion-input {
      font-weight: 700;
      font-size: 19px;

      // @media screen and (max-width: 768px) {
      //   font-size: 19px;
      // }
      // @media screen and (max-width: 414px) {
      //   font-size: 19px;
      // }
      // @media screen and (max-width: 411px) {
      //   font-size: 19px;
      // }
      // @media screen and (max-width: 375px) {
      //   font-size: 17px;
      // }
      // @media screen and (max-width: 360px) {
      //   font-size: 17px;
      // }
      // @media screen and (max-width: 320px) {
      //   font-size: 16px;
      // }
    }
  }

  .forgot-password {
    color: #07273b;
    opacity: 0.76;
    font-weight: bolder;
    font-size: 18px;
    margin-right: 2px;
    text-decoration: none;
  }

  .forgot-password a:hover,
  a:focus,
  a:active {
    color: #0582ca;
  }

  .form-button {
    width: 100%;
    --vertical-align: middle;
    --border-color: #22bcff;
    --border-radius: 50px;
    margin-top: 20px;
    font-size: 17px;

    --color: #07273b;
    font-weight: bolder;
  }

  .create-account {
    margin-top: 20px;

    .create-account-link {
      color: #22bcff;
      font-weight: bolder;
    }

    .create-account-link a:hover,
    a:focus,
    a:active {
      color: #0582ca;
      font-size: 16px;
      font-weight: bolder;
    }
  }
}
