<ion-content fullscreen>
  <div class="bg-class">
    <app-background></app-background>

    <div class="login-form">
      <form action="">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item class="form-felids">
              <ion-input type="number" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text"
                placeholder="Mobile">
              </ion-input>
              <ion-icon name="call" slot="end" size="small"></ion-icon>
            </ion-item>

            <ion-item class="form-felids">
              <ion-input autofocus="on" type="password" inputmode="password" clearInput="true" clearOnEdit="true"
                inputmode="text" placeholder="Password">
              </ion-input>
              <ion-icon name="lock-open" slot="end" size="small"></ion-icon>
            </ion-item>

            <ion-item class="ion-text-right" lines="none">
              <ion-label>
                <i>
                  <a href="#" rel="noopener noreferrer" class="forgot-password">Forgot Password</a>
                </i>
              </ion-label>
            </ion-item>

            <div>
              <ion-button fill="outline" class="form-button" routerLink="/tabs/tab1">Login</ion-button>
            </div>
          </ion-card-content>

          <ion-row class="card-footer">
            <ion-col>
              <ion-item class="ion-text-center create-account" lines="none">
                <ion-label>
                  <a href="#" rel="noopener noreferrer" class="create-account-link">DON'T HAVE AN ACCOUNT?</a>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </form>
    </div>
  </div>

</ion-content>

<app-footer></app-footer>