* {
  font-family: "Raleway" !important;
}
ion-content {
  .bg-class {
    position: relative;

    justify-content: center;
  }

  
  .login-form {
    display: block;

    justify-content: center;

    ion-card-title {
      font-size: 27px;
      font-weight: bolder;
      color: #07273b;
      opacity: 0.75;
    }

    form {
      margin: -40px 10px 0px 10px;
    }

    ion-card-content{
      margin-bottom: 2em;
    }
    ion-card {   
      height: 400px;      
      border-radius: 20px;
      box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);

      card-footer {
        position: absolute;
        bottom: 0;
        
        width: 100%;
      }
    }
  }

  .form-felids {
    margin-top: 10px;
    ion-input {
      font-weight: 700;
      font-size: 19px;

 
    }
  }

  .forgot-password {
    color: #07273b;
    opacity: 0.76;
    font-weight: bolder;
    font-size: 18px;
    margin-right: 2px;
    text-decoration: none;
  }

  .forgot-password a:hover,
  a:focus,
  a:active {
    color: #0582ca;
  }

  .form-button {
    width: 100%;
    --vertical-align: middle;
    --border-color: #22bcff;
    --border-radius: 50px;
    margin-top: 20px;
    font-size: 17px;

    --color: #07273b;
    font-weight: bolder;
  }

  .create-account {
  
    .create-account-link {
      color: #22bcff;
      font-weight: bolder;
    }

    .create-account-link a:hover,
    a:focus,
    a:active {
      color: #0582ca;
      font-size: 16px;
      font-weight: bolder;
    }
  }
}

ion-footer{
  ion-toolbar{
    --min-height: 30px;
    
    --background: rgb(14,80,133);
    --background: linear-gradient(216deg, rgba(14,80,133,1) 64%, rgba(32,104,156,1) 90%, rgba(54,135,184,1) 98%, rgba(108,210,255,1) 100%);


    --color:white;
    a{
      text-decoration: none;
      span{
        color:orange;
      }

    }
    

    ion-title{
       
    
      @media screen and (max-width: 1440px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 13px;
      }
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
      @media screen and (max-width: 540px) {
        font-size: 12px;
      }
      @media screen and (max-width: 414px) {
        font-size: 11px;
      }
      @media screen and (max-width: 411px) {
        font-size: 11px;
      }
      @media screen and (max-width: 375px) {
        font-size: 10px;
      }
      @media screen and (max-width: 360px) {
        font-size: 10px;
      }

    }
  }
}
