* {
  font-family: "Raleway" !important;
}

ion-content {
  --ion-background-color: #f5f2ec;

  .cart-heading {
    background-color: var(--washme-blue);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-heading ion-label {
    color: white;
    font-size: 23px;
  }

  .item-add-btn {
    margin-top: 2em;

    ion-button {
      font-size: 21px;
      font-weight: bolder;
      opacity: 0.6;
      text-transform: none;
    }

    ion-icon {
      font-size: 21px;
      margin-right: 0.5em;
    }
  }

  .empty-cart {
    width: 80%;
    height: 13vh;
    border-radius: 24px !important;
    --background: rgb(56, 236, 188);
    --background: linear-gradient(180deg, rgba(56, 236, 188, 1) 0%, rgba(34, 188, 255, 1) 100%);
    padding: 0.2em;

    --color: white;

    .empty-content-txt {
      display: flex;
      .cart-icon {
        flex-basis: 25%;
        ion-icon {
          font-size: 39px;
        }
      }
      .cart-description {
        flex-basis: 75%;
      }
    }

    .empty-content-btn {
      display: flex;
      vertical-align: middle !important;
      justify-content: center;
    }

    ion-item {
      color: white;
    }
  }
}
