<app-app-header></app-app-header>

<ion-content [fullscreen]="true">
  <div class="cart-heading">
    <ion-label>Your Item</ion-label>
  </div>

  <div class="item-add-btn">
    <ion-button fill="clear" color="dark" expand="block">
      <ion-icon name="add-circle"></ion-icon>
      Add Item
    </ion-button>
  </div>

  <section>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-card class="empty-cart">
          <ion-card-content class="empty-content-txt">
            <div class="cart-icon">
              <ion-icon name="cart-outline"></ion-icon>
            </div>

            <div class="cart-description">
              <ion-label>
                Your Cart is empty. Continue Shopping.
              </ion-label>
            </div>
          </ion-card-content>
        </ion-card>


        <ion-card class="empty-cart">
          <ion-card-content class="empty-content-btn">
            <ion-item color="transparent" lines="none">
              <ion-label>
                Popular Items
              </ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>

        <ion-card class="empty-cart">
          <ion-card-content class="empty-content-btn">
            <ion-item color="transparent" lines="none">
              <ion-label>
                Favorite Items
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </section>



</ion-content>