<ion-header [translucent]="true">
  <ion-toolbar no-border>

    <div slot="start" class="logo">
      <img src="../../assets/logo/logo-header.png" width="40px" />
    </div>


    <ion-title class="ion-text-center">
      washme.lk
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="end" name="search-circle" size="large" class="search-icon"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
