<ion-header class="ion-no-border">
  <ion-toolbar no-border>

    <div slot="start" class="logo">
      <img src="../../assets/logo/logo-header.png" width="40px" />
    </div>


    <ion-title class="ion-text-center">
      washme.lk
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="end" name="search-circle" size="large" class="search-icon"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="item-category">

    <div>
      <ion-slides [options]=slideOpts>
        <ion-slide>
          <a href="#" class="fill-div">
            <div class="category-wrapper">
              <div class="category-img">
                <img src="../../assets/item-category/trousers.png" />

              </div>
              <div class="category-name">
                <ion-label>BOTTOM </ion-label>
              </div>
            </div>
          </a>
        </ion-slide>
        <ion-slide>
          <div class="category-wrapper">
            <div class="category-img">
              <img src="../../assets/item-category/woolen-socks.png" />

            </div>
            <div class="category-name">
              <ion-label>SOCKS </ion-label>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-wrapper">
            <div class="category-img">
              <img src="../../assets/item-category/polo-shirt.png" />

            </div>
            <div class="category-name">
              <ion-label>SHIRT </ion-label>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-wrapper">
            <div class="category-img">
              <img src="../../assets/item-category/blouse.png" />

            </div>
            <div class="category-name">
              <ion-label>TOP </ion-label>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-wrapper">
            <div class="category-img">
              <img src="../../assets/item-category/Path 29.png" />

            </div>
            <div class="category-name">
              <ion-label>SHORT </ion-label>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-wrapper">
            <div class="category-img">
              <img src="../../assets/item-category/Path 29.png" />

            </div>
            <div class="category-name">
              <ion-label>SHORT </ion-label>
            </div>
          </div>
        </ion-slide>


      </ion-slides>
    </div>

  </div>

  <div class="item-wrapper">
    <ion-card class="single-img expand" style="background-image: url(../../assets/item-category/TJ-MW-10-09_1.png);">
      <ion-card-header>

        <ion-card-title>Kurutha Top</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="normal-content">
          <div>
            <ion-badge color="secondary">Rs.200.00</ion-badge>
          </div>
          <div>
            <ion-badge color="light" slot="end">2</ion-badge>
          </div>

          <ion-button fill="clear">
            <ion-icon name="cart"></ion-icon>
            <ion-label> Add to cart</ion-label>
          </ion-button>
        </div>

        <div class="expand-content">
          <div class="expand-button">
            <ion-button> Washing
            </ion-button>
            <ion-button> Pressing
            </ion-button>
            <ion-button> Dry
              Clean
            </ion-button>
          </div>

          <div class="qty-add">
            <ion-button> + </ion-button>
            <div style="width: 100%;">
              <ion-input> </ion-input>
            </div>
            <ion-button> -
            </ion-button>
          </div>


          <div class="expand-button">
            <ion-button> Washing
            </ion-button>
            <ion-button> Pressing
            </ion-button>
            <ion-button> Dry
              Clean
            </ion-button>
          </div>
        </div>

      </ion-card-content>


    </ion-card>
  </div>
  <div class="item-wrapper">
    <ion-card class="single-img normal" style="background-image: url(../../assets/item-category/TJ-MW-10-09_1.png);">
      <ion-card-header>

        <ion-card-title>Blouse</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="normal-content">
          <div>
            <ion-badge color="secondary">Rs.200.00</ion-badge>
          </div>
          <div>
            <ion-badge color="light" slot="end">2</ion-badge>
          </div>

          <ion-button fill="clear">
            <ion-icon name="cart"></ion-icon>
            <ion-label> Add to cart</ion-label>
          </ion-button>
        </div>

        <div class="expand-content">
          <div class="expand-button">
            <ion-button> Washing
            </ion-button>
            <ion-button> Pressing
            </ion-button>
            <ion-button> Dry
              Clean
            </ion-button>
          </div>

          <div class="qty-add">
            <ion-button> + </ion-button>
            <div style="width: 100%;">
              <ion-input> </ion-input>
            </div>
            <ion-button> -
            </ion-button>
          </div>


          <div class="expand-button">
            <ion-button> Washing
            </ion-button>
            <ion-button> Pressing
            </ion-button>
            <ion-button> Dry
              Clean
            </ion-button>
          </div>
        </div>

      </ion-card-content>


    </ion-card>
  </div>





</ion-content>