* {
  font-family: "Raleway" !important;
}

ion-header {
  ion-title {
    font-weight: bolder;
    font-size: 22px;
    color: #0582ca;
  }

  .search-icon {
    color: #0582ca;
  }
}

.logo {
  margin-left: 10px;
}
