<ion-content>
  <div class="bg-class">
    <div class="bg-right-rectangle"></div>
    <div class="bg-left-rectangle"></div>

    <div class="logo">
      <img src="../../assets/logo/logo.png" alt="logo" />
    </div>

    <div class="login-form">
      <form action="">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item class="form-felids">
              <ion-input
                type="number"
                autofocus="on"
                clearInput="true"
                clearOnEdit="true"
                inputmode="text"
                placeholder="Mobile"
              >
              </ion-input>
              <ion-icon name="call" slot="end" size="small"></ion-icon>
            </ion-item>

            <div>
              <ion-button fill="outline" class="form-button">Next</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title>
      © Washme.lk Powerd by
      <a href="https://www.w3ssolutions.com/"> <span> W3S Solutions</span> </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>
