<ion-content>
  <div class="bg-class">
    <app-background></app-background>

    <div class="login-form">
      <form action="">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sign Up Verification</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item class="form-felids">
              <ion-input type="text" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text"
                placeholder="Verification Code">
              </ion-input>

              <ion-icon name="barcode" slot="end" size="small"></ion-icon>
            </ion-item>

            <ion-item class="ion-text-right" lines="none">
              <ion-label>
                <i>
                  <a href="#" rel="noopener noreferrer" class="forgot-password">
                    Resend </a>
                </i>
              </ion-label>
            </ion-item>


            <div>
              <ion-button fill="outline" class="form-button">Verify</ion-button>
            </div>
          </ion-card-content>

        </ion-card>
      </form>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>