* {
  font-family: "Raleway" !important;
}

ion-header {
    ion-title {
      font-weight: bolder;
      font-size: 22px;
      color: var(--washme-blue);
    }
    .search-icon {
      color: var(--washme-blue);
    }
  }

  .logo {
    margin-left: 10px;
  }

  

  ion-content{
    --ion-background-color: #f5f2ec;
  }