<ion-header class="ion-no-border">
  <ion-toolbar no-border="no-border">
    <div slot="start" class="logo">
      <img src="../../assets/logo/logo-header.png" width="40px" />
    </div>

    <ion-title class="ion-text-center">washme.lk</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="end"
          name="search-circle"
          size="large"
          class="search-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="map-wrapper">
      <ion-card button class="img"> </ion-card>
    </div>

    <div class="summery-wrapper">
      <ion-item lines="none" class="summery-item">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home : 78/2,Suwarapola, Piliyandala</ion-label>
      </ion-item>
      <ion-item lines="none" class="summery-item">
        <ion-icon name="checkmark-done-circle"></ion-icon>
        <ion-label>Regular</ion-label>
      </ion-item>
      <ion-item lines="none" class="summery-item">
        <ion-icon name="arrow-forward-circle"></ion-icon>
        <ion-label>06 Sep 2021 04.30 PM</ion-label>
      </ion-item>
      <ion-item lines="none" class="summery-item">
        <ion-icon name="arrow-back-circle"></ion-icon>
        <ion-label>15 Sep 2021 06.30 PM</ion-label>
      </ion-item>
    </div>

    <hr class="divider" />
  </section>

  <section>
    <ion-list>
      <ion-item class="ion-margin-end">
        <div class="total-title">Sub Total</div>
        <div class="total-amount">Rs.600</div>
      </ion-item>

      <ion-item class="ion-margin-end">
        <div class="total-title">Discount</div>
        <div class="total-amount">Rs.60</div>
      </ion-item>

      <ion-item class="ion-margin-end">
        <div class="total-title">Promo Code</div>
        <div class="total-amount">
          <ion-input type="text" placeholder="xxxx"></ion-input>
        </div>
      </ion-item>

      <ion-item class="ion-margin-end">
        <div class="total-title">Total</div>
        <div class="total-amount">Rs.540</div>
      </ion-item>
    </ion-list>

    <div class="btn-wrapper">
      <ion-button class="next-btn">Confirm Order</ion-button>
    </div>
  </section>
</ion-content>
